@font-face {
  font-family: "Easman Alternate";
  src: url("../../fonts/EastmanAlternate-Regular.woff") format("woff"),
  url("../../fonts/EastmanAlternate-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Easman Alternate";
  src: url("../../fonts/EastmanAlternate-Bold.woff") format("woff"),
  url("../../fonts/EastmanAlternate-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Easman Alternate";
  src: url("../../fonts/EastmanAlternate-Medium.woff") format("woff"),
  url("../../fonts/EastmanAlternate-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
